body{font-family: 'Microsoft Yahei'; color: #3E3E3E}

li{list-style: none;}
h1{margin: 0 0 0.2rem;}
h1 small{display: inline-block; padding-top: 0.1rem;}
h3{margin: 0;padding: 0;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.btn{ border-color:#fff; color: #fff;}
.btn:hover{border-color: #fff; color: #fff;}

.swt a{display: inline-block;  margin:0 0.2rem; padding:0.1rem  0.3rem;}

.color-red{color: #EE4F54}
.color-white{color: #fff}
.color-white2{color: #eee}
.bg-red{background-color: #EE4F54}
.bg-gray{background-color: #353535}

.head{ background-color: #F7F7F7}
.head p{ height: 33px; padding-left: 10px; line-height: 33px;}

.logo{height: 140px; padding-top: 15px;}
.logo{font-size: 16px;}
.logo div:first-child img{padding-top: 10px;}
.logo .tel p{padding-top: 20px;}
.logo span{font-size: 26px; }

#nav{margin-bottom: 0px; border: none;}
#nav .nav>li>a{color: #eee}
#nav .nav li:hover{background-color: #EE4F54}
#nav .nav .dropdown-menu>li:hover{background-color: #EE4F54}
#nav .nav .dropdown-menu li a:hover{background-color: #EE4F54; color: #eee}

.hot .row>h1 small{display: inline-block; padding-bottom: 10px;}
.hot .row .wrap{height: 190px; margin-top: 20px; padding-top: 20px;}
.hot .row .wrap a{display: block; width: 70%; height: 50px; margin-top: 20px; border: 1px solid #fff; line-height: 50px; font-size: 18px;}

.introduce{padding: 0.5rem 0}
.introduce h1{margin-bottom: 0.4rem}
.introduce .row{margin-bottom: 0.3rem}
.introduce p{font-size:0.18rem; text-indent: 2em}
.introduce img{ width: 100%; display: block; margin-bottom: 0.2rem; }

.product{padding: 0.5rem 0}
.product .nav{margin-bottom: 0.2rem;}
.product .row a{display: block; margin: 0.2rem 0; padding: 0.2rem; border: 1px solid #ddd;}
.product .row img{width: 100%;}
.product .row h4{margin-bottom: 0;}
.product .nav a{font-size: 18px;}
.product ul .active a{color:#EE4F54 }
.product #productTab li a:hover{color:#EE4F54 }

.line{margin: 0; height: 0.5rem;}

.advantage{padding: 0.5rem 0 0}
.advantage>h1{ margin-bottom: 0.2rem; font-size: 0.4rem;}
.advantage>h1 small{font-size: 0.24rem; display: inline-block; padding: 0.2rem 0;}
.advantage .row ul{ padding: 0 0.2rem; }
.advantage .row ul li{border-bottom: 1px solid #ddd}
.advantage .row ul li:last-child{border-bottom: none;}
.advantage .row ul li p{font-size: 16px; text-indent: 2em;}
.advantage .row ul .border-line{border-bottom: none;}
.advantage .row img{width: 100%;}
.advantage h3{padding: 0.2rem 0;}


.ad {padding: 0.5rem 0;}
.ad .wrap>div{ height: 240px; padding-top: 20px;}
.ad hr{width: 60%;}
.ad .bg-left,.ad .bg-right{position: absolute; z-index: -1; height: 240px;}
.ad .left h1{margin-top: 0.2rem;}
.ad .bg-right{right: 0;}
.ad .tel{padding:0.18rem 0 0 1rem;}
.ad .tel h2{padding-left: 30px;}
.ad .right a{ margin: auto;}

.anli{padding: 0.5rem 0; width: 100%;}
.anli>h1 small{display: inline-block; padding: 0.2rem 0;}
.anli .row > div{margin-bottom: 0.3rem;}
.anli .row img{width: 100%;}

.consult{padding: 0.5rem 0;}
.consult h1{line-height: 0.5rem;}
.consult hr{width: 60%;}
.consult .tel{display: inline-block;}
.consult .tel img{padding-right: 0.2rem; width: 1rem;}

.news{padding: 0.5rem 0 ;}
.news h3 {padding:0.2rem 0;}
.news h3 a{display: inline-block; }
.news ul{padding: 0.2rem; border: 1px solid #ddd;border-top: 0.08rem solid #EE4F54}

.foot .row p span{display: inline-block;padding:0 15px; }
.foot .link{line-height: 0.3rem;}
.foot .link a{color: #eee;}
.foot{padding: 0.3rem 0;}
.foot h3{padding: 0.2rem 0}

.footer{padding: 0.3rem 0 0.1rem}
.footer h3{line-height: 0.4rem;}
.footer .logo1 img{width: 1.8rem;}
.footer .weixin img{margin-left: 0.1rem;}
.footer .link{text-align: left;}
.footer .link a{color: #eee}