
.width-1200{ width: 7.68rem; font-size: 14px;}
h1{font-size: 0.4rem; line-height: 1rem;}
h3{font-size: 15px;}
a{font-size: 14px;}

.row{margin:0;}
/*
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
*/


#nav .nav>li>a{background-color: #222}
#nav .nav>li>a:hover{background-color: #EE4F54}
#nav .nav li:hover{background-color: #fff}
.hot .row>h1{ font-size: 18px }
.hot .row .wrap {height: 3rem; padding-top: 0.2rem}
.hot .row .wrap h2{font-size: 0.4rem}
.hot .row .wrap a{height: 0.8rem ; font-size: 0.24rem; line-height: 0.8rem;}

.introduce .container p{font-size: 16px;}
.introduce .swt a{margin:0.2rem;  padding: 0.2rem 0.3rem;}

.product .nav a{ padding: 0.1rem; font-size: 0.3303rem;}

.advantage h3{font-size: 16px;}
.advantage p{padding: 0 0.2rem; text-indent: 2em;}

.foot .row p span{display: block;}
.foot .row h2{margin: 0.1rem 0;font-size: 0.4rem;line-height: 1rem; }
