body{font-size: 16px;}
.banner img{width: 100%;}

.location{padding: 0.2rem 0; border-bottom: 1px solid #ccc;}


.profile{padding: 0.5rem 0}
.profile img{width: 100%;}
.profile p{font-size: 16px; text-indent: 2em;}


.culture {padding: 0.5rem 0}
.culture h3{ padding: 0.15rem 0;}
.culture .wrapper p{height: auto; padding: 0.2rem 0; font-size: 16px; line-height: 28px;}
.culture img{width: 100%;}

.service{padding: 0.5rem 0}
.service img{width: 100%;}
.service h3{font-weight: bold;}
.service p{line-height: 30px;}

@media screen and (max-width: 768px) {
	.profile img{display: inline-block; padding-bottom: 0.2rem;}
	.service img{padding-bottom: 0.3rem;}
}

@media screen and (min-width: 900px) {
	.culture .wrapper {width: 3.37rem; margin: auto ;}
	.service .row:last-child{padding-top: 0.4rem;}
}